body{
    font-family: arial, sans-serif;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 46px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dadce0;
    font-size: 14px;
}

body{
    margin-left: 0;
}
.footer-left-right{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}
.footer-left-right a{
    padding: 15px;
}

#google-logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 35vh;
}

#google-search-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-search-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}

#searchbox{
    width: auto;
    max-width: 584px;
    min-width: 30vw;
    height: 30px;
    border-radius: 30px;
}

footer a{
    color: #70757a;
    text-decoration: none;
}

footer a:hover{
    color: #70757a;
    text-decoration: underline;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*
#google-login-button{
    height: 36px;
    min-width: 96px;
    width: 5em;
    background-color: rgb(26, 115, 232);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    
}
*/
